<footer id="footer" class="main-content-wrap">
  <div class="copyrights">
     Build {{ now.Format "2006-01-02" }} {{ with .Site.Params.footer.copyright }}{{ . | safeHTML }}{{ else }} &copy; {{ with .Site.Author.name }}{{ . }}{{ else }}{{ with .Site.Title }}{{ . }}{{ end }}{{ end }}{{ end }}. {{ i18n "footer.all_rights_reserved" }} 
  </div>

  <a href="https://beian.miit.gov.cn/#/Integrated/index" target="blank">{{ .Site.Params.footer.beian }}</a>
  <span>&emsp;</span>
  <span>
    <img src="/images/beian.png">
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{.Site.Params.footer.PoliceBeiAn}}" target="blank">京公网安备{{.Site.Params.footer.PoliceBeiAn}}</a>
  </span>
  <!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span> -->
</footer>
