<div id="main" name="search-list"  data-behavior="{{ .Scratch.Get "sidebarBehavior" }}" 
    class="{{ with .Params.coverimage }}hasCover{{ end }}
            {{ if eq .Params.covermeta "out" }}hasCoverMetaOut{{ else }}hasCoverMetaIn{{ end }}
            {{ with .Params.coverCaption }}hasCoverCaption{{ end }}" 
            style="display:none">
    <section class="postShorten-group main-content-wrap">
        <div id="search-result">
        {{ $posts := (where .Site.RegularPages "Section" "post") }}
        
        <h1 class="link-unstyled postShorten-title">
          <p id="search-value"></p>
          找到 {{ len $posts }} 个相关博客，展示前10个
        </h1>
        {{ range first 10 $posts }}
          {{ .Render "summary" }}
        {{ end }}
      </div>
    </section>
  </div>